[Unit]
Description=Cloudflare Tunnel HotonChat
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared --config /home/toannc/.cloudflared/config-HotonChat.yaml tunnel run
Restart=on-failure
RestartSec=5
User=toannc
Group=toannc
Environment=HOME=/home/toannc
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cloudflared-HotonChat

[Install]
WantedBy=multi-user.target
